@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #f5f5f5;
  --color-light: #26C5EF;
  --color-purple: #4C61C0;
  --color-third: #914BAC;
  --theme-gradient: linear-gradient(90deg, var(--color-light), var(--color-purple), var(--color-third));
}

@theme inline {
  --font-raleway: var(--raleway);
  --font-teachers: var(--teachers);
  --font-brunoace: var(--brunoace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-teachers, sans-serif); /* Use Teachers font */
}


.button {
  background: var(--color-purple);
  color: var(--foreground);
}

.card {
  border: 2px solid var(--color-third);
  background: var(--background);
  color: var(--foreground);
}


.heading {
  font-family: var(--brunoace), cursive, sans-serif;
  font-weight: 500;
}

.section {
  padding: 2rem 4rem ;
  /* margin: 3rem 0; */
} 

.gradient-bg {
  background: var(--theme-gradient);
}

.gradient-button {
  background: linear-gradient(275deg, #111827,#4B5563, #b62ca41e,  #4caefe95);
}

.text-hover { 
  color: white;
}

.text-hover:hover{
   background: var(--theme-gradient);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-primary {
  font-family: var(--font-teachers), sans-serif !important;
}

.text-gd {
   background: var(--theme-gradient);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.extralight, .extralight * {
  font-family: var(--font-raleway), sans-serif !important;
  font-weight: 200 !important;
}